<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
var app=angular.module("app",[]);
app.controller("contentcCntroller",function($scope,$http){
$scope.stateDetailsList=[];
$scope.stateSelected="All";
$scope.channelCount=0;
$scope.devicesCount=0;
 $http.get("data.json")
    .then(function(response) {
	for (var key in response.data) {
	var stateDetails = {
	stateName:key,
	devices:response.data[key].Devices,
	channels:response.data[key].Channels
};
	$scope.devicesCount=$scope.devicesCount+stateDetails.devices;
	$scope.channelCount = $scope.channelCount+stateDetails.channels;
	
	$scope.stateDetailsList.push(stateDetails);
 
}
});
	$scope.change=function(){
	if(null==$scope.stateSelected)
		$scope.stateSelected="All";
	};	
});
</script>
<html ng-app="app">
<head>
<title>Frontend Applicant Test</title>
<h1>Content Report</h1>
</head>
<body>

<div ng-controller='contentcCntroller'>
	<div>
		<div style="float:left;">
			<span style="font-weight:bold;color:blue;font-size:20px;">Total Channel Count {{channelCount}}</span></br>
			<span style="font-weight:bold;color:green;font-size:20px;">Total Devices Count {{devicesCount}}</span>
		</div>
		<div style="float:left;padding-left:100px;">
		<select ng-model="stateSelected" ng-change="change()" ng-options="state.stateName for state in stateDetailsList">
		<option value="">All</option>
		</select>
		</div>
</div>
<div>
</br>
<div ng-switch="stateSelected" style="clear:both;">
<div  ng-switch-when="All"ng-repeat="state in stateDetailsList" >
	
		<span style="display:inline-block;">{{state.stateName}}</span>
		<div style="display:inline-block;background-color:blue;height:25px;border:1px solid black;" ng-style="{ 'width':state.channels + 'px'}">{{state.channels}}</div>
		<div style="display:inline-block;background-color:green;height:25px;border:1px solid black;" ng-style="{ 'width': state.devices + 'px'}">{{state.devices}}</div>
		</br>
		</br>
		
	
</div>
	<div ng-switch-when!="All">
				<span style="display:inline-block">{{stateSelected.stateName}}</span>
				<div style="display:inline-block;background-color:blue;height:25px;" ng-style="{ 'width':stateSelected.channels + 'px'}">{{stateSelected.channels}}</div>
				<div style="display:inline-block;background-color:green;height:25px;" ng-style="{ 'width': stateSelected.devices + 'px'}">{{stateSelected.devices}}</div>
				
	</div>
</div>

<span></span>
</div>

</body>
</html>